<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Relay</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1>Telegraph</h1>
      <h2 class="project-tagline">Telegraph is a lambda-style PSR-7 middleware dispatcher.<br />Use it with any PHP framework or container.</h2>
      <h3><a href="https://github.com/telegraphp/telegraph.telegraph"><code>composer require telegraph/telegraph ~1.0</code></a></h3>
    </section>

    <section class="main-content">

{{ content }}

      <footer class="site-footer">
        <p><span class="site-footer-credits">This page uses the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span></p>
      </footer>

    </section>
  </body>
</html>
